{{ define "mascota" }}
{{ range .Mascotas }}
<div id="mascota-{{ .Id }}">
  <article class="container rounded-5 p-5">
    <img src="data:image/jpeg;base64,{{ .Foto64 }}" alt="Foto de la mascota" />
    <div>
      <h3>{{ .Nombre }}</h3>
      <ul>
        <li>Edad: {{ .Edad }} anios</li>
        <li>Altura: {{ .Altura_cm }}cm</li>
      </ul>
      <button class="p-4 rounded-pill ver-detalles" type="button">Ver Detalles</button>
    </div>
  </article>
  <div class="modal-mascota hidden" >
    <div class="modal-content">
      <span class="close-btn btn-close"></span>
      <img src="data:image/jpeg;base64,{{ .Foto64 }}" alt="Foto de la mascota" />
      <h2>{{ .Nombre }}</h2>
      <p><strong>Edad:</strong> {{ .Edad  }} años</p>
      <p><strong>Altura:</strong> {{ .Altura_cm }}cm</p>
      <p> {{ .Descripcion  }} </p>
      <a class="adopt-btn button" href="{{ $.URL }}/mascotas/{{ .Id }}">Solicitar adopción</a>
    </div>
  </div>
</div>
{{ end }}
{{ end }}
