{{ define "navbar" }}
<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ .URL }}/">
      <!-- cambiar para hacer el logo real -->
      <img
        src="{{ .URL }}/assets/img/favicon.ico"
        alt="Logo"
        style="width: 40px"
        class="rounded-pill"
      />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link {{ if eq .CurrentRoute "/" }}active{{ end }}" href="{{ .URL }}/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ if eq .CurrentRoute "/adopcion" }}active{{ end }}" href="{{ .URL }}/adopcion">Adopcion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ if eq .CurrentRoute "/mascotas" }}active{{ end }}" href="{{ .URL }}/mascotas">Mascotas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ if eq .CurrentRoute "/contacto" }}active{{ end }}" href="{{ .URL }}/contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ if eq .CurrentRoute "/registrar" }}active{{ end }}" href="{{ .URL }}/registrar">Registrar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{ end }}
