main * {
  color: white;
}
.img-forma {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.imagen-circular {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;  
}