{{ define "adopcion" }}
<!doctype html>
<html lang="es">

<head>
  <title>Adopcion</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ template "librerias" .}}
    <link rel="stylesheet" href="/assets/general.css" />
    <link rel="stylesheet" href="/assets/adopcion.css" />
</head>

<body>
  {{ template "navbar" . }}
  <main class="container-fluid" style="margin-top: 80px">
    <article class="container">
      <div class="row">
        <div class="col-8">
          <h1>¿Porque deberia adoptar?</h1>
          <p>
            Adoptar a un perrito es cambiar dos vidas: la suya... y la tuya.
          </p>
          <ul>
            <li>
              <strong> Salvas una vida: </strong>
              Muchos perritos en refugios solo necesitan una segunda
              oportunidad para demostrar todo el amor que tienen por dar.
            </li>
            <li>
              <strong>Ganas un compañero fiel:</strong>
              Adoptar no solo es dar un hogar, es recibir a un amigo que te
              acompañará con lealtad y alegría cada día
            </li>
            <li>
              <strong>Fomentas el cambio:</strong>
              Adoptar en vez de comprar ayuda a combatir el abandono y
              promueve una cultura más humana y responsable.
            </li>
          </ul>
        </div>
        <div class="col-4">
          <img src="assets/img/hombre.webp" class="img-forma imagen-circular" alt="foto del tipo este" />
        </div>
      </div>
    </article>

    <hr class="mt-5 mb-5" />

    <article class="container">
      <div class="row">
        <div class="col-8">
          <h1>Requisitos de adopción</h1>
          <p>
            Adoptar a un perrito es cambiar dos vidas: la suya... y la tuya.
          </p>
          <ul>
            <li>
              <strong>Llena nuestro formulario :</strong> Queremos conocerte
              mejor para encontrar al compañero ideal para ti. ¡Tu historia
              nos importa!
            </li>
            <li>
              <strong>Firma del compromiso de adopción:</strong>
              Adoptar es para siempre. Este acuerdo nos ayuda a garantizar el
              bienestar del peludito.
            </li>
            <li>
              <strong>Entrega del peludo:</strong> ¡El mejor momento! Nuestro
              amiguito llegará a su nuevo hogar y comenzará una vida llena de
              aventuras contigo.
            </li>
          </ul>
        </div>
        <div class="col-4">
          <img src="assets/img/form.png" class="img-forma" alt="imagen del forumario" />
        </div>
      </div>
      <div class="d-grid mx-auto">
        <button type="button" class="p-4 rounded-pill mx-auto">
          Solicitar adopción
        </button>
      </div>
    </article>
  </main>
</body>

</html>
{{ end }}
