{{ define "error" }}
<!doctype html>
<html lang="es">
  <head>
    <title>Error {{ .Code }}</title>
    {{ template "meta" . }}
    {{ template "librerias" . }}
  </head>
  <body>
    {{ template "navbar" . }}
    <main class="container" style="margin-top: 80px">
      <h1>{{ .Code }}: {{ .Message }}</h1>
      <div style="margin-top: 80px">
        <a class="p-4 rounded-pill button" href="{{ .URL }}/">Regresar al inicio</a>
      </div>
    </main>
  </body>
</html>
{{ end }}
