{{ define "experienciaConMascotas" }}
<!doctype html>
<html lang="es">
  <head>
    <title>Experiencia con mascotas</title>
    {{ template "meta" . }}
    {{ template "librerias" . }}
  </head>
  <body>
    {{ template "navbar" . }}
    <main class="container-fluid" style="margin-top: 80px">
      <div class="container">
        <p>Completa la siguiente informacion para comenzar el proceso de adopcion</p>
        <div class="container">
          <h2>Experiencia con mascotas</h2>
          <form method="post" action="{{ .URL }}/adopcion/experiencia-mascotas/{{ .MascotaId }}?nombre={{ .InformacionGeneral.Nombre }}?edad={{ .InformacionGeneral.Edad }}?email={{ .InformacionGeneral.Email }}?direccion={{ .InformacionGeneral.Direccion }}?telefono={{ .InformacionGeneral.Telefono }}">
            <label for="mascotas-anteriormente">Ha tenido mascotas anteriormente?</label>
              <select name="mascotas-anteriormente">
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
            <br />
            <label for="tiene-mascotas">Actualmente tiene otras mascotas?</label>
            <select name="tiene-mascotas">
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
            <br />
            <label for="tiene-veterinario">Cuenta con veterinario de confianza?</label>
            <select name="tiene-veterinario">
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
            <br />
            <button class="button p-4 rounded-pill" type="submit">Siguiente</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
{{ end }}
