{{ define "informacionHogar" }}
<!doctype html>
<html lang="es">
  <head>
    <title>Informacion del hogar</title>
    {{ template "meta" . }}
    {{ template "librerias" . }}
  </head>
  <body>
    {{ template "navbar" . }}
    <main class="container-fluid" style="margin-top: 80px">
      <div class="container">
        <p>Completa la siguiente informacion para comenzar el proceso de adopcion</p>
        <div class="container">
          <h2>Informacion del hogar</h2>
          <form method="post" action="{{ .URL }}/solicitud/info-hogar/{{ .MascotaId }}">
            <label for="tipo-de-vivienda">Tipo de vivienda</label>
            <input type="text" name="tipo-de-vivienda" />
            <br />
            <label for="is-propiedad-propia">Vive en propiedad propia?</label>
              <select name="is-propiedad-propia">
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
            <br />
            <label for="tiene-patio">Cuenta con patio? (espacio con aire libre)</label>
            <select name="tiene-patio">
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
            <br />
            <label for="personas-en-hogar">Cuantas personas viven en el hogar?</label>
            <input type="number" name="personas-en-hogar" />
            <br />
            <button class="button p-4 rounded-pill" type="submit">Siguiente</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
{{ end }}
