{{ define "mascotas" }}
<!doctype html>
<html lang="es">
<head>
  <title>Mascotas</title>
  {{ template "meta" . }}
  {{ template "librerias" . }}
  <link rel="stylesheet" href="{{ .URL }}/assets/mascotas.css" />
  <script src="{{ .URL }}/assets/mascotas.js"></script>
</head>
<body>
  {{ template "navbar" . }}
  <main class="container-fluid" style="margin-top: 80px">
    <div class="container">
      <h2>Tu proximo amigo!</h2>
      {{ template "mascota" . }}
    </div>
  </main>
</body>
</html>
{{ end }}
