{{ define "registrado" }}
<!doctype html>
<html lang="es">
  <head>
    <title>Adopta a un amigo</title>
  <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ template "librerias" .}}
  </head>
  <body>
    {{ template "navbar" . }}
    <main class="container-fluid" style="margin-top: 80px">
      <div class="container">
        <h1>{{ .ReqBody.Nombre }} registrado!</h1>
        <div style="margin-top: 100px;">
          <a class="p-4 rounded-pill button" href="{{ .URL }}/" >Regresar al menu principal</a>
        </div>
      </div>
    </main>
  </body>
</html>
{{ end }}
