{{ define "registrado" }}
<!doctype html>
<html lang="es">
  <head>
    <title>Mascota registrada</title>
    {{ template "meta" . }}
    {{ template "librerias" . }}
    <link rel="stylesheet" href="{{ .URL }}/assets/registrado.css" />
  </head>
  <body>
    {{ template "navbar" . }}
    <main class="container-fluid" style="margin-top: 80px">
      <div class="container">
        <h1>{{ .Mascota.Nombre }} registrado!</h1>
        <div style="margin-top: 100px;">
          <a class="p-4 rounded-pill button" href="{{ .URL }}/" >Regresar al menu principal</a>
        </div>
      </div>
    </main>
  </body>
</html>
{{ end }}
