{{ define "registrar" }}
<!doctype html>
<html lang="es">
  <head>
    <title>Registrar mascota</title>
  <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ template "librerias" .}}
    <link rel="stylesheet" href="/assets/registrar.css" />
  </head>
  <body>
    {{ template "navbar" . }}
    <main class="container-fluid" style="margin-top: 80px">
      <div class="container">
        <form action="{{ .URL }}/api/mascotas" method="post" enctype="multipart/form-data">
          <label for="nombre">Nombre: </label>
          <input name="nombre" type="text" placeholder="nombre" required /> <br />

          <label for="edad">Edad: </label>
          <input name="edad" type="number" placeholder="edad" /> <br />

          <label for="altura">Altura (cm): </label>
          <input name="altura" type="number" placeholder="altura" /> <br />

          <label for="foto">Foto: </label>
          <input name="foto" type="file" accept="image/*" required /> <br />

          <label for="descripcion">Descripcion: </label>
          <input name="descripcion" type="text" placeholder="descripcion" /> <br />

          <button type="submit" class="p-4 rounded-pill">submit</button>
        </form>
      </div>
    </main>
  </body>
</html>
{{ end }}
