{{ define "solicitudAdopcion" }}
<!doctype html>
<html lang="es">
  <head>
    <title>Solicitud para {{ .Mascota.Nombre }}</title>
    {{ template "meta" . }}
    {{ template "librerias" . }}
  </head>
  <body>
    {{ template "navbar" . }}
    <main class="container-fluid" style="margin-top: 80px">
      <div class="container">
        <h1>Formulario de adopcion</h1>
        <p>Completa la siguiente informacion para comenzar el proceso de adopcion</p>
        <!-- {{ template "mascota" .Mascota }} -->
        <div class="container">
          <h2>Informacion general</h2>
          <form method="post" action="{{ .URL }}/solicitud/info-general/{{ .Mascota.Id }}">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" required/>
            <br />
            <label for="edad">Edad:</label>
            <input type="number" name="edad" required/>
            <label for="direccion">Direccion:</label>
            <input type="text" name="direccion" required/>
            <br />
            <label for="email">Email:</label>
            <input type="email" name="email" required/>
            <br />
            <label for="telefono">Numero telefonico:</label>
            <input type="number" name="telefono" required/>
            <br />
            <button class="button p-4 rounded-pill" type="submit">Siguiente</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
{{ end }}
