body {
  background-image: url("algo.png");
  background-repeat: no-repeat;
}

h1 {
  color: #011638;
  font-weight: bold;
  font-size: 60pt;
  margin-top: 20%;
  margin-inline-start: 10%;
}

#navbar {
  background-color: #214e34;
  opacity: 0.7;
}
