header {
  background-image: url("algo.png");
  background-repeat: no-repeat;
}

header h1 {
  color: #011638;
  text-shadow: 2px 2px 5px black;
  font-weight: bold;
  font-size: 60pt;
  margin-top: 40%;
  margin-inline-start: 10%;
}

main {
  margin-top: 50px;
}

main h2 {
  color: white;
  font-weight: bold;
  margin-bottom: 50px;
}

section {
  background-color: var(--blanco);
  margin-bottom: 25px;
  position: relative;
  height: 200px;
  width: 100%;
}

section img {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 150px;
  height: 150px;
}

section div {
  margin-inline-start: 150px;
}

section button {
  position: absolute;
  right: 10%;
  top: 35%;
}
