:root {
  --verde-oscuro: #214e34;
  --verde-claro: #a0e548;
  --blanco: #d6ecd4;
  --azul-oscuro: #011638;
  --azul-claro: #9ac1f0;
  --negro: #333;
}

body {
  background-color: var(--azul-oscuro);
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h4,
label,
p,
li {
  color: white;
  font-weight: bold;
}

nav {
  background-color: var(--verde-oscuro);
  opacity: 0.85;
}

hr {
  width: 80%;
  margin: auto;
  border: 2px solid var(--verde-claro);
  opacity: 1;
}

main button,
.button {
  width: 250px;
  color: var(--negro);
  font-weight: bold;
  background-color: var(--verde-claro);
  border: none;
  transition-duration: 0.2s;
  box-shadow: 2px 2px var(--negro);
  text-decoration: none;
  text-align: center;
}

main button:hover,
.button:hover {
  color: white;
  background-color: var(--verde-oscuro);
  box-shadow: 2px 2px var(--negro);
  text-decoration: none;
}
