* {
  color: white;
}

form input,
form textarea {
  border-radius: 20px;
  border: none;
  padding: 12px;
  background-color: #f9f9ff;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  transition: 0.3s ease-in-out;
}

form input:focus,
form textarea:focus {
  outline: none;
  box-shadow: 0 0 12px #a3f7bf;
  background-color: #ffffff;
}

/* form button {
  background-color: #b6ff6b;
  color: #000000;
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  font-weight: bold;
  box-shadow: 0 0 10px #a3f7bf;
  transition: 0.3s ease;
}

form button:hover {
  background-color: #98e156;
  transform: scale(1.05);
}
*/
ul.list-unstyled li a {
  font-size: 16px;
  color: #d6ffe9;
  display: block;
  margin-bottom: 10px;
  transition: 0.2s ease;
}

ul.list-unstyled li a:hover {
  text-decoration: underline;
  color: white;
}
