:root {
  --verde-oscuro: #214e34;
  --verde-claro: #a0e548;
  --blanco: #d6ecd4;
  --azul-oscuro: #011638;
  --azul-claro: #9ac1f0;
}

body {
  background-color: var(--azul-oscuro);
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: var(--verde-oscuro);
  opacity: 0.7;
}

hr {
  width: 80%;
  margin: auto;
  border: 2px solid var(--verde-claro);
  opacity: 1;
}

button {
  width: 250px;
  color: black;
  font-weight: bold;
  background-color: var(--verde-claro);
  border: none;
  transition-duration: 0.2s;
}

button:hover {
  color: white;
  background-color: var(--verde-oscuro);
}
