body {
  margin-bottom: 80px;
}

header {
  background-image: url("img/splash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
}

header h1 {
  color: #011638;
  text-shadow: 2px 2px 5px black;
  font-weight: bold;
  font-size: 60pt;
  margin-top: 40%;
  margin-inline-start: 10%;
}

main a {
  width: 250px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background-color: var(--verde-claro);
  border: none;
  transition-duration: 0.2s;
}

main a:hover {
  color: white;
  background-color: var(--verde-oscuro);
}
